body {
  margin: 30px;
  pading: 0;
}
.row{
  margin-top: 6%;
  margin-bottom: 6%;
}
h1 {
  margin-bottom: 17px;
  text-align: center;
  color: blue;
  font-size: 50px;
  font-family: ariel;
}
box {
  width: 100%;
  overflow: none;
}
.content-name{
  overflow:none;
  text-align: center;
  border: 5px solid black;
  width: 100px;
  height: 50px;
  padding: 2px;
  float:right;
  margin-top:4px;
  margin-right:28px;
  font-weight: bold;
  position: relative;
}
.content 
{
  border:3px solidblack;
  width:90%;
  hieght: auto;
  margin: 2.5%
  color:black;
  font-size: 25px;
  padding: 2%;
  padding-top: 55px;
  background-color:yellow;
}
.name1{
background-color:red;  
}
.name2{
background-color:blue;  
}

.name3{
background-color:orange;  
}
@media (min-width: 992px) {
.col-lg-4{
  float:left;
  width:33.33%;
}
}
@media(min-width:768px)and(max-width:991)
{
  .col-md-6,col-md-12;{
  float:left;
}
.col-md-6{
  width:50%;}
.col-md-12{
  margin-left:-10px;
  width:100;
.name3{
  margin-right:65px;
  width:100px;
}
}
